{
  "openapi": "3.0.3",
  "info": {
    "title": "PokéAPI",
    "description": "A RESTful API for Pokémon data. This is a consumption-only API (GET only).\nNo authentication required. All resources are fully open and available.\n\n**Fair Use Policy**: Please cache resources locally and be respectful of API usage.",
    "version": "2.0.0",
    "contact": {
      "name": "PokéAPI",
      "url": "https://pokeapi.co"
    },
    "license": {
      "name": "BSD",
      "url": "https://github.com/PokeAPI/pokeapi/blob/master/LICENSE.md"
    }
  },
  "servers": [
    {
      "url": "https://pokeapi.co/api/v2",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Pokemon",
      "description": "Pokémon and related resources"
    },
    {
      "name": "Berries",
      "description": "Berry resources"
    },
    {
      "name": "Items",
      "description": "Item resources"
    },
    {
      "name": "Moves",
      "description": "Move resources"
    },
    {
      "name": "Locations",
      "description": "Location resources"
    },
    {
      "name": "Evolution",
      "description": "Evolution chain resources"
    },
    {
      "name": "Games",
      "description": "Game version resources"
    }
  ],
  "paths": {
    "/pokemon": {
      "get": {
        "tags": ["Pokemon"],
        "summary": "List Pokémon",
        "description": "Returns a paginated list of Pokémon",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedAPIResourceList"
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/{id}": {
      "get": {
        "tags": ["Pokemon"],
        "summary": "Get Pokémon by ID or name",
        "description": "Returns a single Pokémon",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID or name of the Pokémon",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                }
              }
            }
          },
          "404": {
            "description": "Pokémon not found"
          }
        }
      }
    },
    "/pokemon/{id}/encounters": {
      "get": {
        "tags": ["Pokemon"],
        "summary": "Get Pokémon encounter locations",
        "description": "Returns location areas where Pokémon can be encountered",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationAreaEncounter"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pokemon-species/{id}": {
      "get": {
        "tags": ["Pokemon"],
        "summary": "Get Pokémon species",
        "description": "Returns Pokémon species information",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PokemonSpecies"
                }
              }
            }
          }
        }
      }
    },
    "/ability/{id}": {
      "get": {
        "tags": ["Pokemon"],
        "summary": "Get ability",
        "description": "Returns ability information",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ability"
                }
              }
            }
          }
        }
      }
    },
    "/type/{id}": {
      "get": {
        "tags": ["Pokemon"],
        "summary": "Get type",
        "description": "Returns type information and relationships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Type"
                }
              }
            }
          }
        }
      }
    },
    "/move/{id}": {
      "get": {
        "tags": ["Moves"],
        "summary": "Get move",
        "description": "Returns move information",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Move"
                }
              }
            }
          }
        }
      }
    },
    "/berry/{id}": {
      "get": {
        "tags": ["Berries"],
        "summary": "Get berry",
        "description": "Returns berry information",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Berry"
                }
              }
            }
          }
        }
      }
    },
    "/item/{id}": {
      "get": {
        "tags": ["Items"],
        "summary": "Get item",
        "description": "Returns item information",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          }
        }
      }
    },
    "/location/{id}": {
      "get": {
        "tags": ["Locations"],
        "summary": "Get location",
        "description": "Returns location information",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    },
    "/evolution-chain/{id}": {
      "get": {
        "tags": ["Evolution"],
        "summary": "Get evolution chain",
        "description": "Returns evolution chain information",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvolutionChain"
                }
              }
            }
          }
        }
      }
    },
    "/generation/{id}": {
      "get": {
        "tags": ["Games"],
        "summary": "Get generation",
        "description": "Returns generation information",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Generation"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of results to return (default 20)",
        "schema": {
          "type": "integer",
          "default": 20,
          "minimum": 1
        }
      },
      "OffsetParam": {
        "name": "offset",
        "in": "query",
        "description": "Number of results to skip",
        "schema": {
          "type": "integer",
          "default": 0,
          "minimum": 0
        }
      }
    },
    "schemas": {
      "NamedAPIResource": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "NamedAPIResourceList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total number of resources"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL for next page"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "URL for previous page"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedAPIResource"
            }
          }
        }
      },
      "Pokemon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "base_experience": {
            "type": "integer"
          },
          "height": {
            "type": "integer",
            "description": "Height in decimetres"
          },
          "weight": {
            "type": "integer",
            "description": "Weight in hectograms"
          },
          "is_default": {
            "type": "boolean"
          },
          "order": {
            "type": "integer"
          },
          "abilities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "is_hidden": {
                  "type": "boolean"
                },
                "slot": {
                  "type": "integer"
                },
                "ability": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              }
            }
          },
          "forms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedAPIResource"
            }
          },
          "species": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "sprites": {
            "type": "object",
            "properties": {
              "front_default": {
                "type": "string",
                "nullable": true
              },
              "front_shiny": {
                "type": "string",
                "nullable": true
              },
              "front_female": {
                "type": "string",
                "nullable": true
              },
              "front_shiny_female": {
                "type": "string",
                "nullable": true
              },
              "back_default": {
                "type": "string",
                "nullable": true
              },
              "back_shiny": {
                "type": "string",
                "nullable": true
              },
              "back_female": {
                "type": "string",
                "nullable": true
              },
              "back_shiny_female": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "stats": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "base_stat": {
                  "type": "integer"
                },
                "effort": {
                  "type": "integer"
                },
                "stat": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              }
            }
          },
          "types": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slot": {
                  "type": "integer"
                },
                "type": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              }
            }
          },
          "moves": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "move": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                },
                "version_group_details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "level_learned_at": {
                        "type": "integer"
                      },
                      "move_learn_method": {
                        "$ref": "#/components/schemas/NamedAPIResource"
                      },
                      "version_group": {
                        "$ref": "#/components/schemas/NamedAPIResource"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PokemonSpecies": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "gender_rate": {
            "type": "integer",
            "description": "-1 for genderless, 0-8 for chance of female in eighths"
          },
          "capture_rate": {
            "type": "integer"
          },
          "base_happiness": {
            "type": "integer"
          },
          "is_baby": {
            "type": "boolean"
          },
          "is_legendary": {
            "type": "boolean"
          },
          "is_mythical": {
            "type": "boolean"
          },
          "generation": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "evolution_chain": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            }
          },
          "flavor_text_entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "flavor_text": {
                  "type": "string"
                },
                "language": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                },
                "version": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              }
            }
          }
        }
      },
      "Ability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "is_main_series": {
            "type": "boolean"
          },
          "generation": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "effect_entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "effect": {
                  "type": "string"
                },
                "short_effect": {
                  "type": "string"
                },
                "language": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              }
            }
          }
        }
      },
      "Type": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "damage_relations": {
            "type": "object",
            "properties": {
              "no_damage_to": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              },
              "half_damage_to": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              },
              "double_damage_to": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              },
              "no_damage_from": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              },
              "half_damage_from": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              },
              "double_damage_from": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              }
            }
          },
          "pokemon": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slot": {
                  "type": "integer"
                },
                "pokemon": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              }
            }
          }
        }
      },
      "Move": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "accuracy": {
            "type": "integer",
            "nullable": true
          },
          "power": {
            "type": "integer",
            "nullable": true
          },
          "pp": {
            "type": "integer"
          },
          "priority": {
            "type": "integer"
          },
          "damage_class": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "type": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "effect_entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "effect": {
                  "type": "string"
                },
                "short_effect": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Berry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "growth_time": {
            "type": "integer"
          },
          "max_harvest": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "firmness": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "flavors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "potency": {
                  "type": "integer"
                },
                "flavor": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              }
            }
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "cost": {
            "type": "integer"
          },
          "fling_power": {
            "type": "integer",
            "nullable": true
          },
          "category": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "sprites": {
            "type": "object",
            "properties": {
              "default": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "areas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedAPIResource"
            }
          }
        }
      },
      "LocationAreaEncounter": {
        "type": "object",
        "properties": {
          "location_area": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "version_details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "version": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                },
                "max_chance": {
                  "type": "integer"
                },
                "encounter_details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "min_level": {
                        "type": "integer"
                      },
                      "max_level": {
                        "type": "integer"
                      },
                      "method": {
                        "$ref": "#/components/schemas/NamedAPIResource"
                      },
                      "chance": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "EvolutionChain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "chain": {
            "type": "object",
            "properties": {
              "is_baby": {
                "type": "boolean"
              },
              "species": {
                "$ref": "#/components/schemas/NamedAPIResource"
              },
              "evolves_to": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "Generation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "main_region": {
            "$ref": "#/components/schemas/NamedAPIResource"
          },
          "pokemon_species": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedAPIResource"
            }
          },
          "types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedAPIResource"
            }
          }
        }
      }
    }
  }
}
